node-red/export-flow-5.js
[{"id":"15a67db9.941fc2","type":"twitter in","z":"f3bdfc69.cadea","twitter":"","tags":"geometry","user":"false","name":"geometry","topic":"tweets","inputs":0,"x":86,"y":76,"wires":[[]]},{"id":"78063e44.f0ef9","type":"debug","z":"f3bdfc69.cadea","name":"","active":true,"console":"false","complete":"false","x":1077.333351135254,"y":107.33331680297852,"wires":[]},{"id":"a6c66e80.a6bee","type":"rpi-gpio out","z":"f3bdfc69.cadea","name":"Red","pin":"12","set":"","level":"0","freq":"100","out":"out","x":588.3333549499512,"y":211.33333683013916,"wires":[]},{"id":"a88bb706.2f6138","type":"inject","z":"f3bdfc69.cadea","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":277.6666717529297,"y":35.333335876464844,"wires":[["a6c66e80.a6bee","be203728.9885b8"]]},{"id":"80b4ba70.853568","type":"inject","z":"f3bdfc69.cadea","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":276.3333435058594,"y":76.00000047683716,"wires":[["a6c66e80.a6bee","be203728.9885b8"]]},{"id":"bd58d844.3bb688","type":"rpi-gpio in","z":"f3bdfc69.cadea","name":"Button","pin":"22","intype":"up","debounce":"25","read":false,"x":70,"y":203,"wires":[["4a12593.0464da8"]]},{"id":"4a12593.0464da8","type":"switch","z":"f3bdfc69.cadea","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":120.5,"y":272,"wires":[["d08d28f2.3e42d8","3eb6a778.15cac8"],["df23784.68d6488","3eb6a778.15cac8"]]},{"id":"d08d28f2.3e42d8","type":"change","z":"f3bdfc69.cadea","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.16668701171875,"y":249.66665077209473,"wires":[["a6c66e80.a6bee","4ac0dd43.4dd9a4"]]},{"id":"df23784.68d6488","type":"change","z":"f3bdfc69.cadea","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.66668701171875,"y":298.33332443237305,"wires":[["a6c66e80.a6bee","4ac0dd43.4dd9a4"]]},{"id":"4483304d.2819c","type":"inject","z":"f3bdfc69.cadea","name":"Forward","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":668,"wires":[["4f78fdd4.704244"]]},{"id":"cc59fb88.6c82c8","type":"inject","z":"f3bdfc69.cadea","name":"Backward","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79,"y":715,"wires":[["3990152a.9a744a"]]},{"id":"710f67d2.86c788","type":"serial in","z":"f3bdfc69.cadea","name":"From Arduino","serial":"ddbe67b3.915ee8","x":75,"y":381,"wires":[["f1ba9b76.dbdd18"]]},{"id":"e109af8a.574ff","type":"serial out","z":"f3bdfc69.cadea","name":"To Arduino","serial":"ddbe67b3.915ee8","x":714.5000305175781,"y":797.6666584014893,"wires":[]},{"id":"b44fb784.184758","type":"inject","z":"f3bdfc69.cadea","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":67,"y":616,"wires":[["bd2824da.594be8"]]},{"id":"52afcd05.51c0b4","type":"inject","z":"f3bdfc69.cadea","name":"Right","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":68,"y":825,"wires":[["7979d0e4.ae32d"]]},{"id":"ce8cc6de.e07518","type":"inject","z":"f3bdfc69.cadea","name":"Left","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":66,"y":769,"wires":[["e345bbee.66e9f8"]]},{"id":"3eb6a778.15cac8","type":"rpi-gpio out","z":"f3bdfc69.cadea","name":"Green","pin":"16","set":"","level":"0","freq":"","out":"out","x":588.166690826416,"y":280.66664695739746,"wires":[]},{"id":"4ac0dd43.4dd9a4","type":"rpi-gpio out","z":"f3bdfc69.cadea","name":"Blue","pin":"18","set":"","level":"0","freq":"","out":"out","x":590.8333549499512,"y":338.9999828338623,"wires":[]},{"id":"2e10e84c.32f608","type":"inject","z":"f3bdfc69.cadea","name":"Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.5,"y":924,"wires":[["7e43ecad.a7f534"]]},{"id":"72927e9a.6027","type":"inject","z":"f3bdfc69.cadea","name":"Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.5,"y":983,"wires":[["edb8deef.1dea2"]]},{"id":"70fea949.a48bc8","type":"inject","z":"f3bdfc69.cadea","name":"Track Left","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":1041,"wires":[["b9356333.a3e49"]]},{"id":"c934be26.f4f81","type":"inject","z":"f3bdfc69.cadea","name":"Track Right","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":1097,"wires":[["24282450.5bbd2c"]]},{"id":"b63961c7.71b52","type":"inject","z":"f3bdfc69.cadea","name":"Every5sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":97.5,"y":511,"wires":[["5bbd53a0.4070dc"]]},{"id":"f7819c87.8c6de","type":"function","z":"f3bdfc69.cadea","name":"random","func":"//msg\nrand = Math.round(Math.random() * 100);\n//msg.payload = \"#numb: \"+rand + \"\\n\";\n\nif(rand % 2 === 0){\n    msg.payload = \"#true \\n\";\n}else {\n    msg.payload = \"#false \\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":994.5,"y":341,"wires":[["a8e34711.998208"]]},{"id":"f13f68db.e10e18","type":"camerapi-takephoto","z":"f3bdfc69.cadea","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":1098.5,"y":655,"wires":[["58c2f258.9dbf5c"]]},{"id":"ccc7259c.7ff1a8","type":"http in","z":"f3bdfc69.cadea","name":"get image","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":908.5,"y":606,"wires":[["f13f68db.e10e18"]]},{"id":"58c2f258.9dbf5c","type":"http response","z":"f3bdfc69.cadea","name":"imageOut","statusCode":"","headers":{"content-type":"image/png"},"x":1300.5,"y":726,"wires":[]},{"id":"a8e34711.998208","type":"exec","z":"f3bdfc69.cadea","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Rπ Temp","x":1091.5,"y":423.5,"wires":[[],[],[]]},{"id":"bd334918.d4fd38","type":"exec","z":"f3bdfc69.cadea","command":"node ./Documents/etv-objectifier/index.js","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1207.5,"y":483.5,"wires":[[],[],[]]},{"id":"d022fb7f.7ccd38","type":"exec","z":"f3bdfc69.cadea","command":"python ./Documents/etv-objectifier/test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1237,"y":550.5,"wires":[[],[],[]]},{"id":"6c0a209c.7001c","type":"function","z":"f3bdfc69.cadea","name":"Parse Photo Resistor Values","func":"\nstr = msg.payload;\nfb = 0;\nrl = 0;\n\nif(str.indexOf('FB_') > -1){\n    fb = Number(str.split('FB_')[1]);\n}\nif(str.indexOf('RL_') > -1){\n    rl = Number(str.split('RL_')[1]);\n}\n\n    \nif (fb > (180 * 0.5)) {\n    //go forward\n    return [null, msg, null, null, null];\n} else {\n    //stop\n    return [msg, null, null, null, null];\n}\n\n\nreturn msg;","outputs":5,"noerr":0,"x":334,"y":424,"wires":[["bd2824da.594be8","c9b55aac.14fda8"],["4f78fdd4.704244"],["3990152a.9a744a"],["e345bbee.66e9f8","c9b55aac.14fda8"],["7979d0e4.ae32d"]]},{"id":"bd2824da.594be8","type":"function","z":"f3bdfc69.cadea","name":"Stop","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":630,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"4f78fdd4.704244","type":"function","z":"f3bdfc69.cadea","name":"Forward","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":669,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"3990152a.9a744a","type":"function","z":"f3bdfc69.cadea","name":"Backward","func":"msg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":707,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"e345bbee.66e9f8","type":"function","z":"f3bdfc69.cadea","name":"Left","func":"msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":750,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"7979d0e4.ae32d","type":"function","z":"f3bdfc69.cadea","name":"Right","func":"msg.payload = 4;\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":790,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"7e43ecad.a7f534","type":"function","z":"f3bdfc69.cadea","name":"Up","func":"msg.payload = 5;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":895,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"edb8deef.1dea2","type":"function","z":"f3bdfc69.cadea","name":"Down","func":"msg.payload = 6;\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":936,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"b9356333.a3e49","type":"function","z":"f3bdfc69.cadea","name":"Track Left","func":"msg.payload = 7;\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":979,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"24282450.5bbd2c","type":"function","z":"f3bdfc69.cadea","name":"Track Right","func":"msg.payload = 8;\nreturn msg;","outputs":1,"noerr":0,"x":346.5,"y":1023,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"5bbd53a0.4070dc","type":"function","z":"f3bdfc69.cadea","name":"Send Nothing","func":"msg.payload = \" \";\nreturn msg;","outputs":1,"noerr":0,"x":349.5,"y":560,"wires":[["7efbc2b7.ae9bbc"]]},{"id":"7efbc2b7.ae9bbc","type":"function","z":"f3bdfc69.cadea","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":853,"wires":[["e109af8a.574ff","1154b2a6.94fb5d"]]},{"id":"f1ba9b76.dbdd18","type":"delay","z":"f3bdfc69.cadea","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":109,"y":447,"wires":[["6c0a209c.7001c"]]},{"id":"1154b2a6.94fb5d","type":"function","z":"f3bdfc69.cadea","name":"Format Log","func":"msg.payload = \"To Arduino: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":613,"wires":[[]]},{"id":"c9b55aac.14fda8","type":"function","z":"f3bdfc69.cadea","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":621.6666666666666,"y":431.66666666666663,"wires":[[]]},{"id":"58340707.a0cc58","type":"rpi-gpio in","z":"f3bdfc69.cadea","name":"Echo","pin":"24","intype":"tri","debounce":"25","read":false,"x":874.9999732971191,"y":46.66667938232422,"wires":[["78063e44.f0ef9"]]},{"id":"be203728.9885b8","type":"rpi-gpio out","z":"f3bdfc69.cadea","name":"Trigger","pin":"26","set":false,"level":"0","freq":"","out":"out","x":883.3332901000977,"y":153.33332633972168,"wires":[]},{"id":"ddbe67b3.915ee8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]