node-red/export-flow-2.js
[{"id":"b73134d9.084088","type":"twitter in","z":"8cef773c.20ace8","twitter":"","tags":"geometry","user":"false","name":"geometry","topic":"tweets","inputs":0,"x":100,"y":40,"wires":[[]]},{"id":"8105535.5ef74b","type":"debug","z":"8cef773c.20ace8","name":"","active":true,"console":"false","complete":"false","x":1377,"y":86,"wires":[]},{"id":"296383e1.f304dc","type":"rpi-gpio out","z":"8cef773c.20ace8","name":"Red","pin":"12","set":"","level":"0","freq":"100","out":"out","x":619,"y":152,"wires":[]},{"id":"5528ce9f.23bd2","type":"inject","z":"8cef773c.20ace8","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":180,"wires":[["296383e1.f304dc","8105535.5ef74b"]]},{"id":"7a314688.37a408","type":"inject","z":"8cef773c.20ace8","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["296383e1.f304dc","8105535.5ef74b"]]},{"id":"63f77de2.f85d14","type":"rpi-gpio in","z":"8cef773c.20ace8","name":"Button","pin":"22","intype":"up","debounce":"25","read":false,"x":70,"y":400,"wires":[["e430cf8b.e0c5e"]]},{"id":"e430cf8b.e0c5e","type":"switch","z":"8cef773c.20ace8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":246.5,"y":407,"wires":[["18b33762.fa1ed9","7d450f7d.0226b"],["e674d37e.abf39","7d450f7d.0226b"]]},{"id":"18b33762.fa1ed9","type":"change","z":"8cef773c.20ace8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":413.5,"y":336,"wires":[["296383e1.f304dc","6fc0a3da.1a977c","371a3fa7.9673e"]]},{"id":"e674d37e.abf39","type":"change","z":"8cef773c.20ace8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":414,"y":437,"wires":[["296383e1.f304dc","6fc0a3da.1a977c","371a3fa7.9673e"]]},{"id":"6fc0a3da.1a977c","type":"rpi-gpio out","z":"8cef773c.20ace8","name":"Trig OUT","pin":"38","set":"","level":"0","freq":"","out":"out","x":687,"y":485,"wires":[]},{"id":"4360a537.c32e6c","type":"rpi-gpio in","z":"8cef773c.20ace8","name":"Echo IN","pin":"40","intype":"tri","debounce":"25","read":false,"x":276,"y":86,"wires":[["8105535.5ef74b"]]},{"id":"e1139154.2a1df","type":"inject","z":"8cef773c.20ace8","name":"Forward","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.5,"y":563,"wires":[["98fa9db8.16c2c"]]},{"id":"76664bd5.020a14","type":"inject","z":"8cef773c.20ace8","name":"Backward","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.5,"y":624,"wires":[["98fa9db8.16c2c"]]},{"id":"4eaa1e7b.33fe6","type":"serial in","z":"8cef773c.20ace8","name":"Arduino IN","serial":"de33124e.7f3c3","x":996.5,"y":35,"wires":[["8105535.5ef74b"]]},{"id":"98fa9db8.16c2c","type":"serial out","z":"8cef773c.20ace8","name":"Arduino OUT","serial":"de33124e.7f3c3","x":521.5,"y":624,"wires":[]},{"id":"d771acdc.367e2","type":"inject","z":"8cef773c.20ace8","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.5,"y":508,"wires":[["98fa9db8.16c2c"]]},{"id":"1b0d35e5.1a546a","type":"inject","z":"8cef773c.20ace8","name":"Right","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.5,"y":682,"wires":[["98fa9db8.16c2c"]]},{"id":"5e62fde1.f6d644","type":"inject","z":"8cef773c.20ace8","name":"Left","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":747,"wires":[["98fa9db8.16c2c"]]},{"id":"7d450f7d.0226b","type":"rpi-gpio out","z":"8cef773c.20ace8","name":"Green","pin":"16","set":"","level":"0","freq":"","out":"out","x":622.5,"y":253,"wires":[]},{"id":"371a3fa7.9673e","type":"rpi-gpio out","z":"8cef773c.20ace8","name":"Blue","pin":"18","set":"","level":"0","freq":"","out":"out","x":647.5,"y":320,"wires":[]},{"id":"53552b79.ec4704","type":"inject","z":"8cef773c.20ace8","name":"Up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.5,"y":901,"wires":[["98fa9db8.16c2c"]]},{"id":"1842002c.c4658","type":"inject","z":"8cef773c.20ace8","name":"Down","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91.5,"y":956,"wires":[["98fa9db8.16c2c"]]},{"id":"35293458.6b981c","type":"inject","z":"8cef773c.20ace8","name":"Track Left","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.5,"y":1008,"wires":[["98fa9db8.16c2c"]]},{"id":"ef8b27b8.ffa9b8","type":"inject","z":"8cef773c.20ace8","name":"Track Right","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.5,"y":1061,"wires":[["98fa9db8.16c2c"]]},{"id":"5be5a892.445328","type":"inject","z":"8cef773c.20ace8","name":"serialTimestamp","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":782.5,"y":221,"wires":[["a30a4db0.dc011"]]},{"id":"b8155cde.16c1c","type":"serial out","z":"8cef773c.20ace8","name":"Calliope Out","serial":"762112e.27e91ec","x":1159.5,"y":269,"wires":[]},{"id":"a30a4db0.dc011","type":"function","z":"8cef773c.20ace8","name":"random","func":"//msg\nrand = Math.round(Math.random() * 100);\n//msg.payload = \"#numb: \"+rand + \"\\n\";\n\nif(rand % 2 === 0){\n    msg.payload = \"#true \\n\";\n}else {\n    msg.payload = \"#false \\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900.5,"y":296,"wires":[["b8155cde.16c1c","8105535.5ef74b","d33ce10d.e70b9"]]},{"id":"7f9600a9.bc039","type":"camerapi-takephoto","z":"8cef773c.20ace8","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":1009.5,"y":564,"wires":[["13bb2779.4789d9"]]},{"id":"bc6b780.d4fbd88","type":"http in","z":"8cef773c.20ace8","name":"get image","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":801.5,"y":600,"wires":[["7f9600a9.bc039"]]},{"id":"13bb2779.4789d9","type":"http response","z":"8cef773c.20ace8","name":"imageOut","statusCode":"","headers":{"content-type":"image/png"},"x":1196.5,"y":603,"wires":[]},{"id":"a1108961.9872d8","type":"socketio-connector","z":"8cef773c.20ace8","server":"","namespace":"","name":"","x":805.5,"y":691,"wires":[[]]},{"id":"d33ce10d.e70b9","type":"exec","z":"8cef773c.20ace8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1156.5,"y":385.5,"wires":[["8105535.5ef74b"],[],[]]},{"id":"5cedfa7f.028ef4","type":"exec","z":"8cef773c.20ace8","command":"node ./Documents/etv-objectifier/index.js","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1222.5,"y":445.5,"wires":[["8105535.5ef74b"],[],[]]},{"id":"89232977.1e44b8","type":"exec","z":"8cef773c.20ace8","command":"python ./Documents/etv-objectifier/test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1252,"y":512.5,"wires":[["8105535.5ef74b"],[],[]]},{"id":"9fa553f5.fb6c4","type":"serial in","z":"8cef773c.20ace8","name":"Calliope In","serial":"bf8d99ee.48bd18","x":1143,"y":230,"wires":[["8105535.5ef74b"]]},{"id":"de33124e.7f3c3","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"762112e.27e91ec","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"bf8d99ee.48bd18","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]